:root {
    --colour__bg: #f5f5f0;
    --colour__main: #000000;
    --colour__accent: #0000ff;
    
    --container__width: 1140px;
    --gutter: 1rem;
    @include breakpoint($tablet-l) {
        --gutter: 2rem;
    }
    --sidebearing: calc((100vw - var(--container__width)) / 2);

    --font__sm: .9rem;
    --font__md: 1rem;
    --font__lg: 1.2rem;
    --font__xl: 2rem;

    --trk__5: .1em;
    --trk__4: .08em;
    --trk__3: .06em;
    --trk__2: .04em;
    --trk__1: .02em;
    --trk__n1: -.02em;
    --trk__n2: -.04em;

    --easing: cubic-bezier(0.16, 1, 0.3, 1);
}