%grid-col {
    @extend %grid;
    grid-template-columns: [screen-start] calc(var(--sidebearing) - var(--gutter)) [grid-start col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr [col-7] 1fr [col-8] 1fr [col-9] 1fr [col-10] 1fr [col-11] 1fr [col-12] 1fr [grid-end] calc(var(--sidebearing) - var(--gutter)) [screen-end];
}

%grid-inner {
    @extend %grid;
    grid-template-columns: [screen-start grid-start col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr [col-7] 1fr [col-8] 1fr [col-9] 1fr [col-10] 1fr [col-11] 1fr [col-12] 1fr [grid-end screen-end];
}

%grid {
    display: grid;
    column-gap: var(--gutter);
}