/**
 * Basic typography style for copy text
 */
body {
  color: var(--colour__main);
  font: normal 100% / 1.575 'neue-haas-grotesk-text', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

%t {
  &--1 {
    @extend %font--xxl;
    font-weight: 600;
    line-height: 1;
  }
  &--2 {
    @extend %font--xl;
    line-height: 1;
  }
  &--3 {
    font-size: 1.5rem;
    font-family: 'neue-haas-grotesk-display', sans-serif;
  }
  &--4 {
    @extend %font--lg;
  }
}

%font {
  &--xs {
    font-size: .6rem;
  }
  &--sm {
    font-size: .8rem;
  }
  &--md {
    font-size: 1rem;
  }
  &--lg {
    font-size: 1.25rem;
    line-height: 1.3;
  }
  &--xl {
    font-size: 3rem;
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-size: clamp(1.5rem, 6vw, 3rem);
  }
  &--xxl {
    font-size: 4rem;
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-size: clamp(2rem, 8vw, 4rem);
  }
}

em {
  font-style: normal;
  font-weight: 500
}

%inner-link {
  &:after {
      content: ' ↗'
  }
  border-bottom: 1px solid;
  padding-bottom: 2px;
  @include on-event {
      border-color: transparent;
      text-decoration: none;
  }
}

%smcp {
  letter-spacing: .04em;
  text-transform: lowercase;
  font-variant-caps: small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}

.char {
  display: inline-block;
  transform: translate(0px, 0px);
}

.word {
  overflow: hidden;
  display: inline-block;
  padding: .2em .1em;
  margin: -.4em -.1em;
}