.app {
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    padding-left: 40rem;
    @include when-inside('main:not([data-page=home])') {
        padding-left: 60px;
    }
    color: var(--colour__main);
}