.navbar {
    position: fixed;
    top: calc(var(--gutter) / 2);
    z-index: 4;
    left: max(var(--sidebearing), var(--gutter));
    width: var(--container__width);
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 1px;
        left: 0;
        background: var(--colour__bg);
        opacity: .5;
    }
    svg {
        height: 2rem;
    }
}